
.card{
	position : relative;
	height: 100%;
	width: 100%;
	
	background: radial-gradient(circle, rgba(253, 156, 30, 0.699) 0%, #3f2900 100%);

}
.elneim {
	gap: 1px;
	display: block;
	font-size: medium;
}
h2{
	font-size:large;
	display: block;
	text-align:center;
	font-weight:100;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
}

.nombress{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 600;
	text-align:center;
	text-justify: distribute;
}
.imagenn{

border-radius: 16px;
width: 200px;
height: 200px;

}
button{

	border-radius: 20px;
	background-color: gray;


}


