.general{
    background-color: rgb(95, 42, 165);

}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: normal;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.bus{
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 500px;
    
    border-bottom: solid 2.5px rgb(0, 0, 0);
    padding: 10px 10px 10px 30px;
    outline: none;
    font-weight: bolder;
    font-style:normal;
    margin: 0 10px 0 5px;
    background-color: rgba(233, 233, 233, 0.473);
    
  
}
.boton{
    border-radius: 10px;
    width: 120px;
    height: 40px;
    
}
